@import "../components/harp-foundation/scss/foundation";

$brand_pink: #E26262;
$brand_green: #009D90;

:root {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 900;
}

.HERO {
	background-image: url('/images/CLOUD_HERO_CLOUD.JPEG');
	background-size: cover;
  height: 600px;
  height: 90vh;

  img {
    padding-top: 20vh;
    max-height: 80vh;
  }

}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 2em;
  white-space: pre;
  font-family: "Courier New", Courier, monospace;
}

h4 {
  padding-top: 1em;
  color: $brand_green;
}

.ROW {
  @include grid-row();
}

.LOGO {
  @extend .columns;
  @extend .small-9;
  @extend .medium-7;
  @extend .small-centered;
}

.CONTENT {
  @extend .columns;
  @extend .small-9;
  @extend .large-12;
}

.ONE_OF_THREE_THINGS {
  @extend .columns;
  @extend .small-9;
  @extend .medium-4;
}

.BULLSHIT_ICON {
  margin: 0 auto;
  display: block;
}
