<!DOCTYPE HTML>
<HTML>
<HEAD>
  <TITLE>SHOUTCLOUD: THE CLOUD THAT SHOUTS BACK</TITLE>
  <LINK REL="stylesheet" HREF="/css/landing.css" TYPE="text/css">
</HEAD>
<BODY>

<DIV CLASS="HERO">
  <DIV CLASS="ROW">
    <DIV CLASS="LOGO">
      <IMG SRC="images/logo.svg" ALT="SHOUTCLOUD" WIDTH="100%" />
    </DIV>
  </DIV>
</DIV>

<DIV CLASS="ROW">
  <DIV CLASS="CONTENT">
    <H2>ALL CAPS AS A SERVICE</H2>
    <H3>
    curl -X POST \
    -d '{"INPUT": "hello world"}' \
    -H 'Content-Type: application/json' \
    HTTP://API.SHOUTCLOUD.IO/V1/SHOUT

    { "INPUT":"hello world",
      "OUTPUT":"HELLO WORLD" }
    </H3>
  </DIV>
</DIV>

<DIV CLASS="ROW">
  <DIV CLASS="ONE_OF_THREE_THINGS">
    <IMG ALT="LOUDER_TALKING" SRC="images/volume-high.svg" WIDTH="40%" CLASS="BULLSHIT_ICON" />
    <H4>SHOUT IN OUR CLOUD NANOSERVICE</H4>
    <H5>
      SHOUTING IS 100% THE WAY TO COMMUNICATE WHEN THINGS ARE IMPORTANT. MICROSERVICES ARE TOO MONOLITHIC. LEVERAGE OUR NANOSERVICE FOR MOST IMPORTANT COMMUNICATIONS IN ROBUST CLOUD.
    </H5>
  </DIV>

  <DIV CLASS="ONE_OF_THREE_THINGS">
    <IMG ALT="CLOUD_ACCESIBILITY" SRC="images/cloud-download.svg" WIDTH="40%" CLASS="BULLSHIT_ICON" />
    <H4>SEAMLESS WEBSCALE INTEGRATIONS</H4>
    <H5>
      WE HEAR YOUR CRIES OF "WHY IS IT SO HARD TO DEVELOP WEBSCALE UPPER CASE STRINGS"?. CLIENT LIBRARIES FOR LEADING WEBSCALE PLATFORMS <A HREF="HTTPS://GITHUB.COM/SHOUTCLOUD/SHOUTCLOUD_NODE">NODE JS</A>, <A HREF="HTTPS://GITHUB.COM/SHOUTCLOUD/SHOUTCLOUD_RUBY">RUBY ON RAILS</A>, AND <A HREF="HTTPS://GITHUB.COM/RICHO/GOSHOUT">GO</A> AVAILABLE NOW.
    </H5>
  </DIV>

  <DIV CLASS="ONE_OF_THREE_THINGS">
    <IMG ALT="SHOUTMACHINE" SRC="images/bullhorn.svg" WIDTH="40%" CLASS="BULLSHIT_ICON" />
    <H4>LEVERAGED BRAND SYNERGY</H4>
    <H5>
      ENGAGE WITH OUR BRAND. <A HREF="HTTP://TWITTER.COM/SHOUTCLOUDIO">LIKE OUR TWITTER HERE</A>. YOUR STRINGS DESERVE A ROBUST SOCIAL GRAPH, HELP US SYNERGISE OUR CROWDSOURCING FOR YOU.
    </H5>
  </DIV>
</DIV>

</BODY>
</HTML>
